body,
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 12px;
  margin-bottom: 2rem;
}

div,
p {
  color: #3c3c40;
  text-shadow: 1px 1px 1px #fff;
}

form {
  padding: 16px;
  width: 80%;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,select,
input {
  border: 0;
  outline: 0;
  font-size: 12px;
  border-radius: 15px;
  padding: 16px;
  background-color: #fff;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  width: 100%;
}

/* Gaya umum input */
input,select {
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

select:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

textarea:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}


button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.cyan {
  display: block;
  width: 100%;
  color: #00aea5;
  margin-left: 1rem;
}

button.undoClear {
    display: block;
    margin-right: 1rem;
  }

button.red {
    display: block;
    width: 100%;
    color: #b60c53;
  }

button.date-input {
  display: block;
  /* width: 80%; */
  margin-left: 0;
}
  
.input-group {
    margin-bottom: 15px; /* Untuk memberikan ruang antara setiap input */
}

.input-group .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Menyusun label ke kiri */
}

.input-group .input-wrapper label {
    margin-bottom: 30px; /* Memberikan ruang antara label dan input */
}

.input-group .input-wrapper select {
  width: 9rem; /* Input memanjang hingga ke tepi kanan page */
  margin-left: 1rem; /* Menghapus margin kiri */
}  

.input-group .input-wrapper input {
    max-width: 100%; /* Input memanjang hingga ke tepi kanan page */
    margin-left: 1rem; /* Menghapus margin kiri */
}  

.input-group .input-wrapper .date-input {
  max-width: 100%; /* Input memanjang hingga ke tepi kanan page */
  margin-left: 1rem;   /* Menghapus margin kiri */
  padding: 16px;
  height: 45px;
}  

.input-wrapper .calendar {
  position: absolute;
  left: 9rem;
  font-size: 4;
  z-index: 1; /* Ensure button is on top of the input */
}

.logo {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: flex-start; 
    max-width: 200px; /* Ubah sesuai dengan ukuran yang Anda inginkan */
    filter: invert(80%);
}

  /* Untuk mengatur ukuran canvas */
.signature-pad canvas{
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;  
    appearance: none;
    -webkit-appearance: none;
}

hr {
  border: 0;
  border-top: 1px dashed #000; /* Thickness and color of the line */
  margin: 20px 0; /* Space above and below the line */
}

/* swal */
.rounded {
  border-radius: 25px; /* Menambahkan sudut bulat dengan radius 10px */
  background-color: rgba(255, 255, 255, 0.9);
}
.roundedBtn {
    border-radius: 25px; /* Menambahkan sudut bulat dengan radius 10px */
    background-color: #fff;
    color: #242424;
    text-shadow: none;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
.roundedBtnCancel {
  border-radius: 25px; /* Menambahkan sudut bulat dengan radius 10px */
  background-color: #fff;
  color: #b60c53;
  text-shadow: none;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}